@page "/home"

<PageTitle>Home</PageTitle>

<div class="mx-auto mt-16 max-w-7xl px-4 sm:mt-24">
    <div class="text-center">
        <div class="mx-auto mt-5 max-w-md sm:flex sm:justify-center md:mt-8">


        </div>
    </div>
</div>

<GettingStarted />